body {
    margin: auto;
    width: 1000px;
    background: #f0ede2;
}
body a {
    color: green;
  }
body a:visited {
    color: green;
  }
body a:hover {
    color: black;
  }
  
.navbar {  
  border-bottom: 1px solid black;
}
.container {
    padding: 2em;
    margin: 1em 3em;
}
.btn.btn-link {
    color: black;
    padding-left: 4em;
}
.btn.btn-link:hover {
  color: green;
}
.navbar {
    padding-left: 2em;
    height: 5em;
}
.post-title {
  margin-bottom: 0.1em;
  margin-top: 0.4em
}
.post-subtitle {
  color: black
}
.post-meta {
  margin-bottom: 5px;
  font-style: italic;
  color: green
}